@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --p-primary-50: #f5f5f5;
    --p-primary-100: #e5e5e5;
    --p-primary-200: #d4d4d4;
    --p-primary-300: #a3a3a3;
    --p-primary-400: #737373;
    --p-primary-500: #000000;
    --p-primary-600: #000000;
    --p-primary-700: #000000;
    --p-primary-800: #000000;
    --p-primary-900: #000000;
    --p-primary-950: #000000;
}